In [ ]:
#!pip install selenium

# 1.Data analyst at naukri.com

In [3]:
import selenium
from selenium import webdriver

In [4]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore"

In [5]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [6]:
driver.get(url)

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="b6112374-5403-4b1a-bdf0-cdf7db3e5594")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="2f84fc19-a6ce-4b40-9935-2bd00de01e8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="8d2bbf91-88e5-4c04-aac4-483158ab15d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="eb3718c5-5d1f-47e8-8eaf-54e77b9b544a")>]

In [9]:
for i in title_tag:
    title=i.text
    job_title.append(title)
    
    
job_title[:5]

['Data Scientist/Data Analyst-immediate',
 'Immediate openings For MIS executive /Data analyst For Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [10]:
company_tag=driver.find_elements_by_xpath(r"//a[@class='subTitle ellipsis fleft']")
company_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="1d69b8a6-2a33-4eb2-86b1-eccd2c8147e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="8902e6f1-d253-4b51-892a-f70503b11d83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="52ef615f-12f0-4106-bbce-403a27ecdbfc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="43ab8755-ab9c-40f4-94cf-e79d358e5297")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="f66a3f51-41bd-4e79-b215-6f1751be6874")>]

In [11]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
    
company_name[:5]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'RANDSTAD INDIA PVT LTD',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'St. John’s Research Institute']

In [12]:
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="d476e381-33ec-4565-b875-1ab062c72c27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="c6d2a3ca-09f2-4e65-82ec-b8f2d938540b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="c7004b03-b646-4c25-b290-ed7eb4b46e42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="41c712bb-3161-4ed6-b46a-8eff311b7893")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="8c2821e4-fd68-4610-9448-1988751b162d")>]

In [13]:
for i in location_tag:
    location=i.text
    job_location.append(location)
    
    
job_location

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru(Koramangala)',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [14]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="b842dcf0-ae78-4ead-9d9f-b5dba149d7c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="118d277d-eaa2-4e9d-a396-a4908fc78c7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="3df458c5-f711-4cb0-bdd3-167bb42bdc8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="1e57b04c-eede-487b-be88-b23b615ae99a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd5cdb189b3627e7bdf0657fe7c0ad99", element="ee9cc3af-9dc5-4ac4-b25e-136f09957494")>]

In [15]:
for i in exp_tag:
    exp=i.text
    experience_required.append(exp)
    
experience_required[0:5]

['0-3 Yrs', '3-8 Yrs', '6-11 Yrs', '2-3 Yrs', '0-4 Yrs']

In [16]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [17]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_title[0:10]
jobs['company']=company_name[0:10]
jobs['location']=job_location[0:10]
jobs['exprience']=experience_required[0:10]

In [18]:
jobs

,title,company,location,exprience
0,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs
1,Immediate openings For MIS executive /Data ana...,RANDSTAD INDIA PVT LTD,Bengaluru,3-8 Yrs
2,Data Analyst,Applied Materials,Bengaluru,6-11 Yrs
3,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,"Mumbai, Bengaluru, Hyderabad",2-3 Yrs
4,Data Analyst,St. John’s Research Institute,Bengaluru,0-4 Yrs
5,Data Analyst,Siemens Limited,Bengaluru,0-3 Yrs
6,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",Sunstream Global Technologies LLP,Bengaluru(Koramangala),0-3 Yrs
7,ID&A - Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bengaluru,6-9 Yrs
8,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,2-7 Yrs
9,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,"Bengaluru, Kolkata",3-4 Yrs

# 2.Data scientist job at naukri.com

In [19]:
url2='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'

In [20]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [21]:
driver.get(url2)

In [22]:
job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [23]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="9f83688f-354d-47bd-9716-007a53fb1fd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="5259a36e-b1d2-4dfe-9583-ba8b5314e164")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="cf38849e-0d66-4445-a289-69d87d6330e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="6576cce7-e921-4531-bcee-4cb24a054693")>]

In [24]:
for i in title_tag:
    title=i.text
    job_title.append(title)
    
    
job_title[:5]

['Data Scientist/Data Analyst-immediate',
 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning']

In [25]:
company_tag=driver.find_elements_by_xpath(r"//a[@class='subTitle ellipsis fleft']")
company_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="c0d177dd-2390-4604-85b5-0cc96661d3d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="c277f8cf-8287-4109-b8b8-bb6e92e92b71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="8e3924f3-39b5-418b-acb9-864a21422d14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="191e1702-ca8e-4016-ae3d-031fbda60432")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="569fecfb-421a-4591-8e9c-74bedcc8a23f")>]

In [26]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
    
company_name[:5]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'HCL Technologies Limited',
 'AugmatrixGo',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'BLUE YONDER INDIA PRIVATE LIMITED']

In [27]:
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="070c13ed-ee8e-405a-976a-717556b0da88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="a685a8aa-7254-4faa-a709-3f08fa14e065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="1003044c-d672-4be5-936f-2543564f4e9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="dd838712-ca44-4d23-a825-8174b3d583ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="5be15f75-7b1d-4ead-8c2c-310cb892ee48")>]

In [28]:
for i in location_tag:
    location=i.text
    job_location.append(location)
    
    
job_location

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Delhi NCR, Bengaluru, Anywhere in India',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru',
 'Chennai, Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Delhi NCR, Mumbai, Bengaluru',
 'Bengaluru']

In [29]:
des_tag=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
des_tag

[<selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="2ddf12de-9aa7-4254-8eb6-86ffec4a2027")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="be7d8cda-eade-4946-8d17-dffc156d72e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="30afba14-2150-4b37-885a-f7d84cf495e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="8e1d94f4-92eb-4e3d-9396-6e5e275d75ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="b9dd6638-e3a9-438b-882b-e22fab736f6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="1a3095b0-d984-40ee-ac9f-7615f8a7a0ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="e31830c0-3017-4144-8126-4cb481c0012e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="f2213d14-441f-45dd-b923-0315f4f49918")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="cc9b2b52-73d3-4070-8245-65d579c91e31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="177c8c2d-92f4-4154-8357-c8da0317035a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="37522197-ed77-4b20-a11a-2c49eab4b277")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="255d2990-c0fd-4b9b-bd18-d4745be83aa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="c625d559-4d80-497c-bc8f-e68edce7d220")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="2866863d-48fc-4ae1-95c9-2ef5eb2034dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="8bcd0f1e-df7e-4ef4-a147-6f4a4de9f418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="74fb7465-248e-4fd2-b4e2-48d877bede25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="af47e905-567f-4d9a-83da-f0ccd1a86c06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="c7c65bef-d9a8-4850-b64d-437c4a64e0b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="2a04c10b-7d53-45c1-9069-a580ad881825")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69bb4716e1e64efe252267b6d5e078c7", element="c390435e-918b-4c47-a448-9edb00f2025c")>]

In [30]:
for i in des_tag:
    des=i.text
    job_description.append(des)
    
    
job_description[:4]

['In case you are trying to shift your career to Analytics and / or AI domain please do c...',
 'Experience of end to end implementation of predictive analytics projects for at least 1...',
 'BTech / MTech degree in from reputed institutes like IIT / NIT / BITSSkills Required : ...',
 'Roles and ResponsibilitiesUnder guidance, or independently, design and implement machin...']

In [31]:
print(len(job_title),len(job_location),len(company_name),len(job_description))

20 20 20 20

In [32]:
import pandas as pd
data_scientistjobs=pd.DataFrame({})
data_scientistjobs['title']=job_title[0:10]
data_scientistjobs['company']=company_name[0:10]
data_scientistjobs['location']=job_location[0:10]
data_scientistjobs['description']=job_description[0:10]

In [33]:
data_scientistjobs

,title,company,location,description
0,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",In case you are trying to shift your career to...
1,HCL hiring Data scientist with exp in machine ...,HCL Technologies Limited,Bengaluru,Experience of end to end implementation of pre...
2,Data Scientist - Machine Learning,AugmatrixGo,Bengaluru,BTech / MTech degree in from reputed institute...
3,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,"Roles and ResponsibilitiesUnder guidance, or i..."
4,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Experience working with some of the following ...
5,Software Developer - Data Scientist / NLP / Ma...,Cunesoft India Private Limited,Bengaluru / Bangalore,Roles and Responsibilities We are looking for ...
6,Data Scientist - Machine Learning - Remote Wor...,Doji Ltd,"Delhi NCR, Bengaluru, Anywhere in India",Direct experience in performing statistical an...
7,Data Scientist,GENPACT India Private Limited,Bengaluru,We are inviting applications for the role of D...
8,Data Scientist (Healthcare/Pharma Domain prefe...,GENPACT India Private Limited,Bengaluru,Should have expertise on predictive modeling t...
9,Tech Mahindra hiring For Data Scientist- Banga...,tech mahindra ltd,Bengaluru,"Proficiency in cleaning, visualizing, analysin..."

# 3.data scientist according to salary at naukri.com

In [34]:
url2='https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&ctcFilter=0to3'

In [35]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [36]:
driver.get(url2)

In [37]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [38]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="09119173-5c61-4bf7-aad9-0549fd31ebca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="fac61562-2e4e-46a5-85b7-9a37b983477f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="245cdbc3-c800-487a-b594-123742e35832")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="62240b4c-f29c-4d84-b2db-0e1fea70d2fe")>]

In [39]:
for i in title_tag:
    title=i.text
    job_title.append(title)
    
    
job_title[:5]

['Data Scientist opening at Saarthee Technology - Gurgaon',
 'Data Scientist( Hadoop/Redshift/BigQuery)',
 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC',
 'Data Scientist - Strategy Management Firm - GGN/PUN',
 'Lead Data Scientist']

In [40]:
company_tag=driver.find_elements_by_xpath(r"//a[@class='subTitle ellipsis fleft']")
company_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="b427656f-d61d-401a-81ed-326f1c62a9a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="78b1c527-fde2-4b85-8f1a-bc0539004ce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="a6642b68-f0d3-444e-9da2-1e5923f6459e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="61beacb9-c878-4249-b690-bf5948b387f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="382ab740-4a69-440d-9f44-3e643f2f46c3")>]

In [41]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
    
company_name[:5]

['Saarthee Technology Pvt Ltd',
 'Jubna',
 'GABA Consultancy services',
 'Spectral Consultants -Search and Recruitments Firm',
 'NEC CORPORATION INDIA PRIVATE LTD']

In [42]:
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="383007d4-b5cb-4e6a-be71-1ee5e17b5578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="df5cf58f-3a67-4376-b7dd-9e0e587a22eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="d7d45840-033a-41fe-abcb-53eb56146850")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="67f11f06-4d48-45fb-b7ed-f6676fea1df2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="2a531dca-cd57-45d9-b852-d2349ba9f653")>]

In [43]:
for i in location_tag:
    location=i.text
    job_location.append(location)
    
    
job_location

['Gurgaon',
 'Noida',
 'Delhi NCR, Noida, Gurgaon',
 'Pune, Delhi NCR',
 'Delhi NCR, Noida(Sector-142 Noida)',
 'Delhi NCR(Sector-142 Noida), Noida',
 'Noida',
 'Noida',
 'Noida',
 'Delhi, Gurgaon',
 'Faridabad, Delhi NCR, Gurgaon',
 'Delhi NCR',
 'Delhi',
 'Gurgaon',
 'Gurgaon, haryana',
 'Pune, Mumbai, Bengaluru, Noida, Hyderabad',
 'Noida(Sector-62 Noida)',
 'Greater Noida, Noida',
 'Noida',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Gurgaon']

In [44]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="d556d5ca-4b43-4de2-a185-24699e53697d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="eb640af5-dd90-428d-89ab-770222873f0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="84714019-c99d-40f0-b56f-117045399047")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="077d3749-d160-4ed4-bab5-e48fcc012ca0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25fb881b6ebe956fbcbf422c47280f84", element="e231af6d-e2f6-4037-afdb-9dc9df215ffe")>]

In [45]:
for i in exp_tag:
    exp=i.text
    experience_required.append(exp)
    
experience_required[0:5]

['1-6 Yrs', '4-6 Yrs', '0-0 Yrs', '3-7 Yrs', '9-14 Yrs']

In [46]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_title[0:10]
jobs['company']=company_name[0:10]
jobs['location']=job_location[0:10]
jobs['exprience']=experience_required[0:10]

In [47]:
jobs

,title,company,location,exprience
0,Data Scientist opening at Saarthee Technology ...,Saarthee Technology Pvt Ltd,Gurgaon,1-6 Yrs
1,Data Scientist( Hadoop/Redshift/BigQuery),Jubna,Noida,4-6 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",0-0 Yrs
3,Data Scientist - Strategy Management Firm - GG...,Spectral Consultants -Search and Recruitments ...,"Pune, Delhi NCR",3-7 Yrs
4,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs
5,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs
6,Data Scientist,Gauge Data Solutions Pvt Ltd,Noida,2-7 Yrs
7,Data Scientist Intern,Salasar New Age Technologies,Noida,0-2 Yrs
8,"Developers, Data Scientists, Web Designers, An...",Cogmac Technologies,Noida,1-5 Yrs
9,Data Analyst,Right Step Consulting,"Delhi, Gurgaon",0-5 Yrs

# 4.data scientist at glassdoor

In [48]:
url3='https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'

In [49]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [50]:
driver.get(url3)

In [51]:
job_title=[]
company_name=[]
days=[]

In [52]:
title_tag=driver.find_elements_by_xpath("//a[@class='jobInfoItem jobTitle css-13w0lq6 eigr9kq1 jobLink']")
title_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="93c6677f-f4f9-4348-a95b-f3d7871b39ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="d89302bf-83d8-4f9e-98cc-9166230cd5cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="b826f31f-0b88-4d86-84c2-d8714ecf172e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="cb212ee0-a506-4355-8ca3-4079ac183ce2")>]

In [53]:
for i in title_tag:
    title=i.text
    job_title.append(title)
    
    
job_title[:5]

['Python Data Engineer, Analyst',
 'Assistant Manager - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [54]:
company_tag=driver.find_elements_by_xpath(r"//a[@class=' css-10l5u4p e1n63ojh0 jobLink']")
company_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="83f323e8-56a5-4896-a665-76292e321f46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="3488807a-3dfd-4af7-b0d4-5d0ada005602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="d473b087-c9a6-4aab-8801-b151c1b73d9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="fd88a3eb-8d92-4ea6-b466-ba481e532a4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="2bf7e0f8-834c-452c-86c3-fa4562047bb8")>]

In [55]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
    
company_name[:5]

['BlackRock',
 'Genpact',
 'Builder.ai - What would you Build?',
 'Brickred',
 'abc consultants']

In [56]:
days_tag=driver.find_elements_by_xpath(r"//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="85b4c5d6-8c61-449d-a09a-bf1af63bc28f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="d0b5fe4a-44ec-44cf-9d78-e4aa4a004206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="3d812c56-cad5-4aa9-b527-a17b69d3062d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="fc4f3342-edb7-4ae0-941c-6f13890fba3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec0fde4fd26239f68ae1bc368a80ccec", element="eff75d93-b3e0-4120-9821-71b90698075b")>]

In [57]:
for i in days_tag:
    day=i.text
    days.append(day)
    
    
days[:5]

['1d', '11d', '24h', '4d', '13d']

In [58]:
print(len(job_title),len(company_name),len(days))

30 30 30

In [59]:
import pandas as pd
glassdoor=pd.DataFrame({})
glassdoor['title']=job_title[0:10]
glassdoor['company']=company_name[0:10]
glassdoor['day posted']=days[0:10]

In [60]:
glassdoor

,title,company,day posted
0,"Python Data Engineer, Analyst",BlackRock,1d
1,Assistant Manager - Data Scientist,Genpact,11d
2,Data Scientist,Builder.ai - What would you Build?,24h
3,Data Scientist,Brickred,4d
4,Data Scientist,abc consultants,13d
5,Data Scientist,Priority Vendor,12d
6,Data Scientist,Terra Economics & Analytics Lab (TEAL),14d
7,Data Scientist,Gauge Data Solutions,12d
8,Data Scientist,Lumiq,3d
9,Data Scientist,Biz2Credit Inc,21d

# 5.data scientist at glassdoor by salary

In [61]:
url4='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [62]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [63]:
driver.get(url4)

In [64]:
company_name=[]
no_salary=[]
avg_salary=[]
min_salary=[]
max_salary=[]

In [65]:
company_tag=driver.find_elements_by_xpath(r"//div[@class='row no-gutters mx-0 py align-items-center css-1u4lhyp']/div/div/div[2]/p[2]")
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="704da7cc-93e6-4137-a167-946fa5bba8bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="f4830aad-9b31-4031-8962-f1b5dd046e8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="a950f7a9-c7e1-4ced-8289-bf14e33b0c8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="cbe3286b-687b-47fb-a930-c6ba561e9bb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2c645470-1780-4bd9-9c64-25d6362199d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="4ee253c0-0980-4a35-80db-087dced016bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="e33f1dcd-5e71-4dea-9561-f7ae9d4d2f85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2f346987-2bd9-47d5-b146-7d4d65a44b8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="ef118ac0-3422-4d82-8514-9a66717e2bcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="c5033ae1-9054-4f14-9d42-14ac9fc475ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="ec8110a9-796d-4f7e-9dcd-edd6393ebfc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="bff6f900-7721-4d54-bf70-d810411e15c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="07673d2a-d03f-4454-82ac-ebd6c3b3c700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="7f19e4de-7e52-4b93-acb9-d79215d44655")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="24c2c59c-b387-41bd-835c-629dc284121f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="c75c893e-8770-4bea-9d4d-41b4bfa1a72f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="ab6c8d27-2a1f-43e2-a610-67e746945538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="48e5e10d-5095-4a0a-9528-df585d5bff0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="0cf60ae2-6135-4566-9244-6bcc2f13c2ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="af8d35d6-cb55-42f5-ade7-af6dcf15fae4")>]

In [66]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
    
company_name[0:5]

['Delhivery',
 'Ericsson-Worldwide',
 'Accenture',
 'Tata Consultancy Services',
 'IBM']

In [67]:
no_salary_tag=driver.find_elements_by_xpath(r"//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
no_salary_tag

[<selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="7e41cfed-fdd1-493e-a1d9-f28968293c8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="15e7a44d-63f5-4b61-8e92-02f2b1eec3d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="eb469092-04a4-419f-85a3-3a0c78ea391d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="deedebda-af06-438c-99d3-9632df110960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="616fbda6-b6c5-4a3d-8a5e-fe05280ead0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="773a12d3-6231-4b6e-abbe-23a00109c0fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="540655ad-664a-43ab-95d3-bf6aeb70eab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="ab10a111-e0fc-440a-b3a6-adfb0b3cc2da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="0acd1c90-3994-4681-8853-526270b5a16b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="af419ead-622c-483d-9878-5d0843f882bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="bce26a65-94e9-417a-87ec-7dea5a6521ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2fca1043-86ad-4957-adfa-b7632f9d7c46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="5bb2a25b-ec07-4f22-a1d1-bdf6cd60efa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="96fd69f6-7470-47ff-81d4-853a8b967499")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="86093269-2901-4863-b6d6-672bbd078dc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="63b7e992-c7b2-45cd-9656-42481f2da7a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="5dacfb09-e239-4edb-aa1b-b85e7e5d87e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="4050d778-dd75-4704-9cf0-b6f3c7b1747c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="4dad0e6f-712f-4259-830e-a9306a0f1282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="1f246292-d3e7-421f-8f7b-4ff18890535e")>]

In [68]:
for i in no_salary_tag:
    no_salary.append(i.text)
    
no_salary

['13 salaries',
 '11 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries',
 '4 salaries',
 '4 salaries',
 '4 salaries',
 '4 salaries',
 '4 salaries',
 '3 salaries',
 '3 salaries',
 '3 salaries',
 '3 salaries']

In [69]:
salary=driver.find_elements_by_xpath(r"//div[@class=('col-2 d-none d-md-flex flex-row justify-content-end')]")
salary

[<selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="27987271-c84a-4da7-bb77-be863fc78eef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="a91be62c-ae0d-4923-a6ad-bfd017cf80af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="5d2411f8-e1c9-4725-a011-7dbea6b79fde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="402f4d11-2c84-43f8-8666-51e4b229288a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="e9d81810-c568-462a-898e-5fc45a1d8ea6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="705a13a3-515a-4bbe-bdab-f131a0b3df5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="45eb946f-a3d1-4c58-8e47-39d6b705e886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="c03488ac-b7f8-4392-909d-37c7e1ed5253")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="10f14b61-c3a8-4fec-aa9a-078287ce2718")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2494027e-9e74-4675-a4d9-cac970b29d62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="3a1f9cf4-a435-4367-af30-1d87fa05aff3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="9bb8fab3-dfba-4b61-9483-cdd5b9adbdcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="41dcf568-9b54-451b-9b76-af84b29e4809")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="e00dceae-5d0a-4f9c-b29e-2cd35cd434bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="e537c26a-36ed-4e77-8d33-21d5f3d04aea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="8fe0b056-a7c6-4677-ac20-e67d2a19a804")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="01b0ad08-19d2-4cb2-b0a7-ef6545a1a41d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="32e93654-f6f8-4e1a-a22d-c661810cc456")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="237699c7-711d-45f7-a23c-34a030ff1782")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="c163dfef-8414-4a4f-9bfd-b41604c3b944")>]

In [70]:
for i in salary:
    avg_salary.append(i.text)
    
    
avg_salary

['₹ 12,81,419\n/yr',
 '₹ 7,52,052\n/yr',
 '₹ 9,98,925\n/yr',
 '₹ 6,02,000\n/yr',
 '₹ 7,71,657\n/yr',
 '₹ 12,22,902\n/yr',
 '₹ 7,91,015\n/yr',
 '₹ 12,15,138\n/yr',
 '₹ 10,21,889\n/yr',
 '₹ 10,00,000\n/yr',
 '₹ 14,33,387\n/yr',
 '₹ 11,42,351\n/yr',
 '₹ 12,57,579\n/yr',
 '₹ 15,53,977\n/yr',
 '₹ 13,09,262\n/yr',
 '₹ 5,96,779\n/yr',
 '₹ 10,67,848\n/yr',
 '₹ 17,00,000\n/yr',
 '₹ 9,75,474\n/yr',
 '₹ 35,11,792\n/yr']

In [71]:
mi_salary=driver.find_elements_by_xpath(r"//div[@class=('common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ')]/span[1]")
mi_salary

[<selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2c00d488-8204-4b98-a6c8-f545d4dd86fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="97d891a0-bb14-47b4-8e08-9e8690e4b1b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="3279be75-4ca4-45de-b1ad-258ad54f1ac5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2dd5801c-3846-4d5e-adf2-973114a60530")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="23088b53-d0f6-4a58-8aa2-36dc229f61bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="fedea8e9-5ba9-47a8-9914-5dd6e13209f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="6a56240f-f811-4309-82e5-32e26015fe09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="aa5f358c-9049-40b3-b378-23b2fc37a795")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="559ee859-f559-45fb-b1c2-d9bea329055b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="069f8fd5-a9b8-4439-bc61-fc30d88bd2c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2d57da2c-f468-4394-b305-4ac90aabd1a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="0bc607fb-24ca-4f77-80f6-1a1c5553a978")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="87864974-e7b1-4369-a1f4-8e34185582b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="006e1718-6664-4765-9314-2b285d3e604d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="b6af69e1-9e6d-4e70-8828-0d235e426149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="ab7cdeef-00c1-40f1-8b6d-a797bcd06835")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="d2210f94-8f97-4695-98c8-6fec3563e308")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="be25c04e-52da-4d9f-a73b-d35df6e76b00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="0b4e110f-9773-4dd4-ad61-945416554194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="1546a0cb-7f44-4952-9277-402d066391ee")>]

In [72]:
for i in mi_salary:
    min_salary.append(i.text)
    
min_salary[0:5]

['₹456K', '₹420K', '₹585K', '₹336K', '₹595K']

In [73]:
mx_salary=driver.find_elements_by_xpath(r"//div[@class=('common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ')]/span[2]")
mx_salary

[<selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2034ad5c-00bd-4b44-8e8c-50d2637b0ceb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="e4d4ba64-01c4-4812-9477-9d55e2ec13d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="ea59b7f9-a467-4bc0-81bd-007f5e719fdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="9c43a47d-8051-44c5-a1a3-9594dd05de71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="ba1c8827-1b65-4934-bcf1-0a1be99fcd90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="fcf7daca-4993-4004-9f55-0be5e2d0fe2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="3ec30631-3d06-47c7-8ea4-092b62cd3d6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="8603c99a-807d-4048-b4e5-7cc4dd6d94ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="a7193c86-3af9-4066-a103-74501c24b3d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="1c8d7599-3034-409c-999a-3981319c697c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="aca7a639-1001-492a-aea8-41ea1208049c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="7d275bd9-fbad-4774-84c0-3e4f1c973e24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="92d30c01-4a2e-4b6f-8e4e-d44ced7460ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="cf873b8f-2602-408f-b829-39286bc221ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="7f09b3fc-ba95-4839-a644-27385daeb1c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="9efef0b0-5a80-4429-8c08-08d9cb7260dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="2e6fa9b1-de3f-4a7b-b9c9-51adbc986e77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="94af3231-c8cc-48eb-b485-bf09b8908c6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="9c39a270-8db5-4bdf-b09f-d2c54b988305")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9aee7b4df1a3d2ef5ebf80df87667c4e", element="6347063d-856e-4543-9a88-772818c45a70")>]

In [74]:
for i in mx_salary:
    max_salary.append(i.text)
    
max_salary[0:5]

['₹11,789K', '₹1,636K', '₹2,200K', '₹1,024K', '₹2,769K']

In [75]:
print(len(company_name),len(no_salary),len(avg_salary),len(min_salary),len(max_salary))

20 20 20 20 20

In [76]:
import pandas as pd

In [78]:
glassdoor=pd.DataFrame({})
glassdoor['Company']=company_name[:10]
glassdoor['no. of salaries']=no_salary[:10]
glassdoor['Average Base Salaries in (INR)']=avg_salary[:10]
glassdoor['Low']=min_salary[:10]
glassdoor['High']=max_salary[:10]
glassdoor

,Company,no. of salaries,Average Base Salaries in (INR),Low,High
0,Delhivery,13 salaries,"₹ 12,81,419\n/yr",₹456K,"₹11,789K"
1,Ericsson-Worldwide,11 salaries,"₹ 7,52,052\n/yr",₹420K,"₹1,636K"
2,Accenture,10 salaries,"₹ 9,98,925\n/yr",₹585K,"₹2,200K"
3,Tata Consultancy Services,9 salaries,"₹ 6,02,000\n/yr",₹336K,"₹1,024K"
4,IBM,9 salaries,"₹ 7,71,657\n/yr",₹595K,"₹2,769K"
5,UnitedHealth Group,8 salaries,"₹ 12,22,902\n/yr",₹727K,"₹1,597K"
6,Valiance Solutions,8 salaries,"₹ 7,91,015\n/yr",₹509K,"₹1,168K"
7,Innovaccer,7 salaries,"₹ 12,15,138\n/yr",₹629K,"₹1,719K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,21,889\n/yr",₹804K,"₹1,281K"
9,ZS Associates,5 salaries,"₹ 10,00,000\n/yr",₹205K,"₹1,835K"

# 6.sunglasses at flipkart

In [79]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [80]:
urlpage='https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=8796e716-c523-4802-b63a-0b2a7ab29d38&as-searchtext=sungla'

In [81]:
driver.get(urlpage)

In [82]:
brand=[]
price=[]
prod_des=[]
discount=[]

In [83]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [92]:
try:
    for i in range(0,5):
        brand_tag=driver.find_elements_by_xpath(r"//div[@class='_2WkVRV']")
    for i in brand_tag:
        brand.append(i.text)
        
        
    product_tag=driver.find_elements_by_xpath(r"//a[@class='IRpwTa']")
    for i in product_tag:
        prod_des.append(i.text)
        
    price_tag=driver.find_elements_by_xpath(r"//div[@class='_30jeq3']")
    for i in price_tag:
        price.append(i.text)
        
    dis_tag=driver.find_elements_by_xpath(r"//div[@class='_3Ay6Sb']")
    for i in dis_tag:
        discount.append(i.text)

    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    
except StaleElementReferenceException as e:
    
    print("EXCEPTION RAISED : ",e)
    print("Refreshing the page!!")
    driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=8796e716-c523-4802-b63a-0b2a7ab29d38&as-searchtext=sungla%27")
    WebDriverWait(Driver,delay).until(EC.presence_of_element_located(By.CLASS_NAME,'_2WkVRV')) 
    brand_tag=driver.find_elements_by_xpath(r"//div[@class='_2WkVRV']")
    for i in brand_tag:
        brand.append(i.text)
        
        
    product_tag=driver.find_elements_by_xpath(r"//a[@class='IRpwTa']")
    for i in product_tag:
        prod_des.append(i.text)
        
    price_tag=driver.find_elements_by_xpath(r"//div[@class='_30jeq3']")
    for i in price_tag:
        price.append(i.text)
        
    dis_tag=driver.find_elements_by_xpath(r"//div[@class='_3Ay6Sb']")
    for i in dis_tag:
        discount.append(i.text)

In [93]:
print(len(brand),len(price),len(prod_des),len(discount))

160 160 122 160

In [94]:
import pandas as pd

In [95]:
sunglasses=pd.DataFrame({})
sunglasses['Brand']=brand[0:100]
sunglasses['Price']=price[0:100]
sunglasses['Description']=prod_des[0:100]
sunglasses['Discount']=discount[0:100]
sunglasses

,Brand,Price,Description,Discount
0,Specsmakers,₹940,Polarized Aviator Sunglasses (58),52% off
1,Billion,₹296,"UV Protection, Riding Glasses Wrap-around Sung...",77% off
2,FDA COLLECTION,₹199,"UV Protection, Polarized, Mirrored Rectangular...",84% off
3,shah collections,₹219,"Gradient, UV Protection Wayfarer Sunglasses (F...",78% off
4,Fastrack,₹699,"UV Protection, Mirrored Retro Square Sunglasse...",12% off
...,...,...,...,...
95,povty,₹245,"Gradient, UV Protection Aviator Sunglasses (Fr...",75% off
96,Deixels,₹199,"Polarized, Night Vision, Riding Glasses, UV Pr...",88% off
97,Phenomenal,₹399,UV Protection Round Sunglasses (55),80% off
98,Trendy Glasses,₹211,UV Protection Aviator Sunglasses (Free Size),83% off
99,Gansta,₹269,UV Protection Wayfarer Sunglasses (55),86% off

# 7.phone review from flipkart

In [102]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [103]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART'

In [104]:
driver.get(url)

In [105]:
rating=[]
summary=[]
review=[]

In [135]:
try:
    for i in range(0,14):
        rating_tag=driver.find_elements_by_xpath(r"//div[@class=('_3LWZlK _1BLPMq')]")
    for i in rating_tag:
        rating.append(i.text)
        
        
        
    summary_tag=driver.find_elements_by_xpath(r"//p[@class=('_2-N8zT')]")
    for i in summary_tag:
        summary.append(i.text)    
        
        
    review_tag=driver.find_elements_by_xpath(r"//div[@class=('t-ZTKy')]")
    for i in review_tag:
        review.append(i.text)
        
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    
except StaleElementReferenceException as e:
    
    print("EXCEPTION RAISED : ",e)
    print("Refreshing the page!!")
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART")
    WebDriverWait(Driver,delay).until(EC.presence_of_element_located(By.CLASS_NAME,'_3LWZlK _1BLPMq')) 
    rating_tag=driver.find_elements_by_xpath(r"//div[@class=('_3LWZlK _1BLPMq')]")
    for i in rating_tag:
        rating.append(i.text)
        
        
        
    summary_tag=driver.find_elements_by_xpath(r"//p[@class=('_2-N8zT')]")
    for i in summary_tag:
        summary.append(i.text)    
        
        
    review_tag=driver.find_elements_by_xpath(r"//div[@class=('t-ZTKy')]")
    for i in review_tag:
        review.append(i.text)

In [136]:
print(len(rating),len(summary),len(review))

106 130 130

In [108]:
import pandas as pd

In [137]:
phone=pd.DataFrame({})
phone['Rating']=rating[:100]
phone['Summary']=summary[:100]
phone['Detail']=review[:100]
phone

,Rating,Summary,Detail
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Great product,Wonderful shoes and nice fitting
96,5,Super!,Hmm... Nice flexible shoes...😘 Jzt loved it😍😍
97,5,Awesome,I like this product I happy to order this prod...
98,5,Terrific,awesome loved it nice product in given price
99,5,Highly recommended,Its superb at this price....

# 8.sneakers at flipkart

In [110]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [111]:
driver.get('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

In [112]:
brand=[]
prod_des=[]
discount=[]
price=[]

In [144]:
try:
    for i in range(0,9):
        brand_tag=driver.find_elements_by_xpath(r"//div[@class='_2WkVRV']")
    for i in brand_tag:
        brand.append(i.text)
        
        
    product_tag=driver.find_elements_by_xpath(r"//a[@class='IRpwTa']")
    for i in product_tag:
        prod_des.append(i.text)
        
    price_tag=driver.find_elements_by_xpath(r"//div[@class='_30jeq3']")
    for i in price_tag:
        price.append(i.text)
        
    dis_tag=driver.find_elements_by_xpath(r"//div[@class='_3Ay6Sb']")
    for i in dis_tag:
        discount.append(i.text)

    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    
except StaleElementReferenceException as e:
    
    print("EXCEPTION RAISED : ",e)
    print("Refreshing the page!!")
    driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=8796e716-c523-4802-b63a-0b2a7ab29d38&as-searchtext=sungla%27")
    WebDriverWait(Driver,delay).until(EC.presence_of_element_located(By.CLASS_NAME,'_2WkVRV')) 
    brand_tag=driver.find_elements_by_xpath(r"//div[@class='_2WkVRV']")
    for i in brand_tag:
        brand.append(i.text)
        
        
    product_tag=driver.find_elements_by_xpath(r"//a[@class='IRpwTa']")
    for i in product_tag:
        prod_des.append(i.text)
        
    price_tag=driver.find_elements_by_xpath(r"//div[@class='_30jeq3']")
    for i in price_tag:
        price.append(i.text)
        
    dis_tag=driver.find_elements_by_xpath(r"//div[@class='_3Ay6Sb']")
    for i in dis_tag:
        discount.append(i.text)

In [145]:
print(len(brand),len(price),len(prod_des),len(discount))

160 160 131 158

In [146]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brand[0:100]
sneakers['Price']=price[0:100]
sneakers['Description']=prod_des[0:100]
sneakers['Discount']=discount[0:100]
sneakers

,Brand,Price,Description,Discount
0,JACK & JONES,"₹1,999",Jfwbanna Print Pu Sneakers For Men,50% off
1,ADIDAS,"₹2,123",Adiset M Sneakers For Men,41% off
2,Chevit,₹499,Combo Pack of 4 Casual Sneakers With Sneakers ...,75% off
3,Robbie jones,₹399,Combo Pack of 4 Latest Collection Stylish Casu...,60% off
4,World Wear Footwear,₹499,Combo Pack Of 4 Canvas Sneakers For Men,75% off
...,...,...,...,...
95,Restinfoot,₹389,"Casual , Partywear Sneakers Shoes For Men's An...",52% off
96,Chevit,₹236,Sneakers for men(black_8) Sneakers For Men,50% off
97,Armado,₹498,DAILY 3.0 Sneakers For Men,62% off
98,Red Rose,₹379,Sneakers For Men,60% off
99,Fila,₹959,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,67% off

# 9.shoes from myntra

In [147]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [148]:
url='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5862.0_11575.0_5862.0%20TO%2011575.0%2C4803.0_9067.0_4803.0%20TO%209067.0%2C5907.0_11605.0_5907.0%20TO%2011605.0'

In [149]:
driver.get(url)

In [150]:
brand=[]
description=[]
price=[]

In [155]:
try:
    for i in range(0,4):
        brand_tag=driver.find_elements_by_xpath(r"//h3[@class='product-brand']")
    for i in brand_tag:
        brand.append(i.text)
        
        
    des_tag=driver.find_elements_by_xpath(r"//h4[@class='product-product']")
    for i in des_tag:
        description.append(i.text)
        
    price_tag=driver.find_elements_by_xpath(r"//span[@class=('product-discountedPrice')]")
    for i in price_tag:
        price.append(i.text)
    driver.find_element_by_xpath("//li[@class='pagination-next']/a").click()
    
    
except StaleElementReferenceException as e:
    
    print("EXCEPTION RAISED : ",e)
    print("Refreshing the page!!")
    driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5862.0_11575.0_5862.0%20TO%2011575.0%2C4803.0_9067.0_4803.0%20TO%209067.0%2C5907.0_11605.0_5907.0%20TO%2011605.0')    
    WebDriverWait(Driver,delay).until(EC.presence_of_element_located(By.CLASS_NAME,'product-brand')) 
    brand_tag=driver.find_elements_by_xpath(r"//h3[@class='product-brand']")
    for i in brand_tag:
        brand.append(i.text)
        
        
    des_tag=driver.find_elements_by_xpath(r"//h4[@class='product-product']")
    for i in des_tag:
        description.append(i.text)
        
    price_tag=driver.find_elements_by_xpath(r"//span[@class=('product-discountedPrice')]")
    for i in price_tag:
        price.append(i.text)

In [156]:
print(len(brand),len(description),len(price))

150 150 110

In [157]:
shoes=pd.DataFrame({})
shoes['Brand']=brand[0:100]
shoes['Description']=description[0:100]
shoes['price']=price[0:100]

In [158]:
shoes

           Brand                     Description     price
0           Nike       Men REACT PHANTOM Running  Rs. 7799
1           Nike          Men Zoom Running Shoes  Rs. 6399
2           Puma  Men HYBRID NETFIT Running Shoe  Rs. 6599
3           Nike       Men JORDAN ZOOM '92 Shoes  Rs. 9699
4           ALDO             Men Leather Loafers  Rs. 7799
..           ...                             ...       ...
95         Ruosh  Men Genuine Leather Monk Shoes  Rs. 5999
96          Vans            Men Striped Sneakers  Rs. 6293
97  UNDER ARMOUR  Women Charged Bandit 5 Running  Rs. 4999
98      Skechers            Women Solid Sneakers  Rs. 4899
99  UNDER ARMOUR       Men Liquify Running Shoes  Rs. 8999

[100 rows x 3 columns]

# 10.laptop from amazon

In [159]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [160]:
url='https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611388225&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17'

In [161]:
driver.get(url)

In [162]:
title=[]
price=[]
rating=[]

In [163]:
title_tage=driver.find_elements_by_xpath(r"//span[@class='a-size-medium a-color-base a-text-normal']")
title_tage[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="3ba4617b-1183-4a48-ae46-066dc3c08525")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="d25ff6db-4820-4f78-b22f-a82a6c6f338a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="8b0c736e-5507-439d-896a-e378d9cee704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="1fd47824-daa8-48ad-bd22-be99ba2ca0eb")>]

In [164]:
for i in title_tage:
    name=i.text
    title.append(name)
    
title[0:4]

['Dell Inspiron 5501 15.6 Inch FHD Laptop (10th Gen i7-1065G7/8 GB/512 SSD/2 GB Nvidia Graphics/Win 10 + MS Office H&S 2019/Silver) D560213WIN9S',
 'Dell Inspiron 5409 14.0" FHD WVA AG Display 11th Gen Laptop (i7-1165G7 / 8 GB / 512 SSD / Nvidia MX 350 2GB Graphics / 1 Yr NBD / Win 10 + MS Office H&S / Pebble) D560374WIN9PE',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/8GB(Up to 16)/1 TB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black']

In [165]:
price_tage=driver.find_elements_by_xpath(r"//span[@class='a-price-whole']")
price_tage[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="91c0fdce-6ccc-4e99-8509-3f0a32d54bbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="6f183668-0fc5-4e57-b2f3-aa5b4971ba71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="74f52ab3-f4de-4370-9832-206cd2531423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="41b95a3a-0ec0-4f3a-bdcc-204cc3391657")>]

In [166]:
for i in price_tage:
    pro_price=i.text
    price.append(pro_price)
    
price[0:4]

['85,890', '86,990', '54,862', '53,599']

In [175]:
rating_tag=driver.find_elements_by_xpath(r"//span[@class='a-icon-alt']")
rating_tag

[<selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="72e67c1d-284b-45ce-8bae-1f11f5ebe6de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="0bc38e63-56c3-42b6-8edd-0d443e87dda0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="0328eac7-39f7-4930-871a-c683ed6c8a19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="40b71c14-a72d-48b9-9c70-81dfb131d805")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="b7de95b1-78f5-4a69-b318-b7606fb01e0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="606f7446-fb81-405e-b9a1-58abb52e3d32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="41dbbc3b-5b1a-4fcd-b130-bbc795a589f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="732c4e37-1ef5-4473-ac16-0a4a8998e334")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="413bc990-602e-4e30-96cc-44309cdb0eb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="a601915d-08f8-4523-ace4-5300276bee20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="42a95dbd-608b-467b-a465-c7bdfc305e1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="ed5481d6-feb1-4542-b7e8-957ce8fdd954")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="d4e56543-dc72-4e44-8ce8-14a4f2166b50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="e48d6e8d-bb90-4402-83ab-a499a098debc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="ac076d67-7b9f-41d3-be44-42152abebaeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="1514fa7f-482c-492f-bba5-212837e29164")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="c59bba95-650e-4e88-bbb9-aba5df1a905a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="6b196221-aff8-4958-9b27-638bd91d988a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="2d71d675-7402-4e9b-8209-763fe1813df3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b701ade840d1c20c5e471388c4627ad", element="ddf4dfb0-ed07-4160-ade2-6bdcdce548ba")>]

In [177]:
for i in rating_tag:
    rating.append(i.text)
    
rating[:5]

['9', '17', '382', '9', '5']

In [178]:
laptop=pd.DataFrame({})
laptop['title']=title[0:10]
laptop['price']=price[0:10]

In [179]:
laptop

                                               title   price
0  Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...  85,890
1  Dell Inspiron 5409 14.0" FHD WVA AG Display 11...  86,990
2  Mi Notebook Horizon Edition 14 Intel Core i5-1...  54,862
3  (Renewed) Dell Latitude E7470 14-inch Laptop (...  53,599
4  (Renewed) Dell Latitude E7470 14-inch Laptop (...  55,299
5  (Renewed) Dell Latitude E7470 14-inch Laptop (...  52,699
6  (Renewed) Dell Latitude E7470 14-inch Laptop (...  54,399
7  MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB S...  70,990
8  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...  96,901
9  Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...  74,990